.block2 {
	display: flex;
	flex-direction: column;
	text-align: center;
	/* background: rgba(0,0,0,.95); */
	padding: 0rem 0;
	@media (--sidebar-query) {
		margin-top: 0rem;
	}

& h2 {
	color: #F2C996;
	font-family: var(--global-font-family);
	font-size: 3rem;
}
& h4 {
	color: #F2C996;
	/* font-family: var(--global-font-family); */
	font-size: 2.5rem;
	text-transform: uppercase;
    font-family: var(--global-font-family);
}
}
